**/Build
**/build
*.ninja
cmake_install.cmake
CMakeCache.txt
**/CMakeFiles
*.cortex-debug*
*settings.json
**/.vscode/c_cpp_properties.json
**/.vscode/settings.json
**/venv
.venv*
.clangd
.cache
compile_commands.json
